# Day-06

In [1]:
import pandas as pd

In [3]:
pd.read_csv("./helperFiles/services.csv")

,Service,Custodian,Delivered by,Policy area
0,Adapt a vehicle,Not known,DVLA DVSA,driving
1,Adopt a child,Not known,Courts-Tribunals-Service DfE Passport-Office l...,childcare-and-parenting
2,Apply for a passport,Not known,Passport-Office,visas-and-immigration
3,Be re-setted in the UK,Not known,Home-Office local-government,visas-and-immigration
4,Become a British citizen,Not known,Home-Office,visas-and-immigration
...,...,...,...,...
143,Use accessible parking,Not known,DfT local-government,driving
144,Visit the UK,Not known,Border-Force DCMS FCO Passport-Office,visas-and-immigration
145,Volunteer,Not known,Cabinet-Office charity-sector DWP,citizenship
146,What to do when someone has died,Not known,DoH HMRC funeralcare-industry local-government,births-deaths-marriages-and-care
147,Work abroad,Not known,FCO HMRC Home-Office,visas-and-immigration

In [6]:
df = pd.read_csv("./helperFiles/services.csv",header=None)
df

,0,1,2,3
0,Service,Custodian,Delivered by,Policy area
1,Adapt a vehicle,Not known,DVLA DVSA,driving
2,Adopt a child,Not known,Courts-Tribunals-Service DfE Passport-Office l...,childcare-and-parenting
3,Apply for a passport,Not known,Passport-Office,visas-and-immigration
4,Be re-setted in the UK,Not known,Home-Office local-government,visas-and-immigration
...,...,...,...,...
144,Use accessible parking,Not known,DfT local-government,driving
145,Visit the UK,Not known,Border-Force DCMS FCO Passport-Office,visas-and-immigration
146,Volunteer,Not known,Cabinet-Office charity-sector DWP,citizenship
147,What to do when someone has died,Not known,DoH HMRC funeralcare-industry local-government,births-deaths-marriages-and-care
148,Work abroad,Not known,FCO HMRC Home-Office,visas-and-immigration

In [7]:
df = pd.read_csv("./helperFiles/services.csv",skiprows=2)
df

,Adopt a child,Not known,Courts-Tribunals-Service DfE Passport-Office local-government,childcare-and-parenting
0,Apply for a passport,Not known,Passport-Office,visas-and-immigration
1,Be re-setted in the UK,Not known,Home-Office local-government,visas-and-immigration
2,Become a British citizen,Not known,Home-Office,visas-and-immigration
3,Become a childminder,Not known,Home-Office HMRC local-government Ofsted,childcare-and-parenting
4,Become a scrap dealer,Not known,local-government,driving
...,...,...,...,...
141,Use accessible parking,Not known,DfT local-government,driving
142,Visit the UK,Not known,Border-Force DCMS FCO Passport-Office,visas-and-immigration
143,Volunteer,Not known,Cabinet-Office charity-sector DWP,citizenship
144,What to do when someone has died,Not known,DoH HMRC funeralcare-industry local-government,births-deaths-marriages-and-care
145,Work abroad,Not known,FCO HMRC Home-Office,visas-and-immigration

In [10]:
df = pd.read_csv("./helperFiles/services.csv")
df

,Service,Custodian,Delivered by,Policy area
0,Adapt a vehicle,Not known,DVLA DVSA,driving
1,Adopt a child,Not known,Courts-Tribunals-Service DfE Passport-Office l...,childcare-and-parenting
2,Apply for a passport,Not known,Passport-Office,visas-and-immigration
3,Be re-setted in the UK,Not known,Home-Office local-government,visas-and-immigration
4,Become a British citizen,Not known,Home-Office,visas-and-immigration
...,...,...,...,...
143,Use accessible parking,Not known,DfT local-government,driving
144,Visit the UK,Not known,Border-Force DCMS FCO Passport-Office,visas-and-immigration
145,Volunteer,Not known,Cabinet-Office charity-sector DWP,citizenship
146,What to do when someone has died,Not known,DoH HMRC funeralcare-industry local-government,births-deaths-marriages-and-care
147,Work abroad,Not known,FCO HMRC Home-Office,visas-and-immigration

In [9]:
type(df)

pandas.core.frame.DataFrame

In [12]:
df['Service']

0                       Adapt a vehicle
1                         Adopt a child
2                  Apply for a passport
3                Be re-setted in the UK
4              Become a British citizen
                     ...
143              Use accessible parking
144                        Visit the UK
145                           Volunteer
146    What to do when someone has died
147                         Work abroad
Name: Service, Length: 148, dtype: object

In [11]:
type(df['Service'])

pandas.core.series.Series

In [13]:
l = [1,2,3,4]
s = pd.Series(l)
s, type(s)

(0    1
 1    2
 2    3
 3    4
 dtype: int64,
 pandas.core.series.Series)

In [14]:
d = pd.Series([100,1000,10000,100000], index=["Hundred","Thousand","Ten thousand","Lakh"])
d

Hundred            100
Thousand          1000
Ten thousand     10000
Lakh            100000
dtype: int64

In [ ]:
d['thousand'] = '1k'
d

Hundred            100
Thousand          1000
Ten thousand     10000
Lakh            100000
thousand            1k
dtype: object

In [20]:
d.reset_index(drop=True, inplace=True)

In [21]:
d[0:2]

0     100
1    1000
dtype: object

In [22]:
df = pd.read_csv("./helperFiles/services.csv")

In [23]:
df.shape

(148, 4)

In [24]:
list(df.columns)

['Service', 'Custodian', 'Delivered by', 'Policy area']

In [25]:
df.head()

,Service,Custodian,Delivered by,Policy area
0,Adapt a vehicle,Not known,DVLA DVSA,driving
1,Adopt a child,Not known,Courts-Tribunals-Service DfE Passport-Office l...,childcare-and-parenting
2,Apply for a passport,Not known,Passport-Office,visas-and-immigration
3,Be re-setted in the UK,Not known,Home-Office local-government,visas-and-immigration
4,Become a British citizen,Not known,Home-Office,visas-and-immigration

In [27]:
df.tail()

,Service,Custodian,Delivered by,Policy area
143,Use accessible parking,Not known,DfT local-government,driving
144,Visit the UK,Not known,Border-Force DCMS FCO Passport-Office,visas-and-immigration
145,Volunteer,Not known,Cabinet-Office charity-sector DWP,citizenship
146,What to do when someone has died,Not known,DoH HMRC funeralcare-industry local-government,births-deaths-marriages-and-care
147,Work abroad,Not known,FCO HMRC Home-Office,visas-and-immigration

In [28]:
df.head(20)

,Service,Custodian,Delivered by,Policy area
0,Adapt a vehicle,Not known,DVLA DVSA,driving
1,Adopt a child,Not known,Courts-Tribunals-Service DfE Passport-Office l...,childcare-and-parenting
2,Apply for a passport,Not known,Passport-Office,visas-and-immigration
3,Be re-setted in the UK,Not known,Home-Office local-government,visas-and-immigration
4,Become a British citizen,Not known,Home-Office,visas-and-immigration
5,Become a childminder,Not known,Home-Office HMRC local-government Ofsted,childcare-and-parenting
6,Become a scrap dealer,Not known,local-government,driving
7,Breed dogs,Not known,local-government RSPCA Veterinary-Medicines-Di...,business
8,Bring a pet to the UK,Not known,Animal-and-Plant-Health-Agency Border-Force HM...,visas-and-immigration
9,Bring freight in to and out of the UK,Not known,Home-Office,import-and-export
10,Build a car,Not known,DVLA DVSA,driving
11,Build at sea,Not known,Environment-Agency Marine-Management-Organisation,environment-and-countryside
12,Buy a business with vehicles,Not known,DVLA DVSA HMRC,driving
13,Buy a house,Not known,estate-agent-industry Land-Registry local-gove...,housing
14,Buy a personalised registration,Not known,DVLA,driving
15,Buy a vehicle,Not known,DVLA insurance-industry local-government,driving
16,Buy land,Not known,HMRC Land-Registry,housing
17,Buy shares,Not known,Companies-House HMRC,business
18,Care for someone,Not known,DWP DoH local-government Office-Public-Guardian,births-deaths-marriages-and-care
19,Change gender,Not known,Courts-Tribunals-Service DVLA Passport-Office,births-deaths-marriages-and-care

In [29]:
df.tail(10)

,Service,Custodian,Delivered by,Policy area
138,Transport goods,Not known,DVLA DVSA HMRC,driving
139,Transport passengers,Not known,DVLA DVSA,driving
140,Travel to other countries,Not known,Border-Force FCO Passport-Office,visas-and-immigration
141,Update driving licence,Not known,DVLA,driving
142,Use a crane,Not known,local-government,housing
143,Use accessible parking,Not known,DfT local-government,driving
144,Visit the UK,Not known,Border-Force DCMS FCO Passport-Office,visas-and-immigration
145,Volunteer,Not known,Cabinet-Office charity-sector DWP,citizenship
146,What to do when someone has died,Not known,DoH HMRC funeralcare-industry local-government,births-deaths-marriages-and-care
147,Work abroad,Not known,FCO HMRC Home-Office,visas-and-immigration

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Service       148 non-null    object
 1   Custodian     148 non-null    object
 2   Delivered by  148 non-null    object
 3   Policy area   148 non-null    object
dtypes: object(4)
memory usage: 4.8+ KB

In [32]:
df.describe()

                Service  Custodian Delivered by Policy area
count               148        148          148         148
unique              148          6           96          16
top     Adapt a vehicle  Not known         DVLA     driving
freq                  1        143           12          44

In [33]:
s = pd.Series([1,2,3],index=[220,"aki",345])
s

220    1
aki    2
345    3
dtype: int64

In [36]:
d = pd.DataFrame(s,columns=['name'])

In [37]:
d

     name
220     1
aki     2
345     3

In [38]:
d['new-column'] = 'akii'

In [39]:
d

     name new-column
220     1       akii
aki     2       akii
345     3       akii

In [42]:
d['new-column-2'] = ['1',2,3]
d

     name new-column new-column-2
220     1       akii            1
aki     2       akii            2
345     3       akii            3

In [45]:
d.columns

Index(['name', 'new-column', 'new-column-2'], dtype='object')

In [46]:
d.columns = ['hello', 'world', 'new']

In [47]:
d.reset_index()

  index  hello world new
0   220      1  akii   1
1   aki      2  akii   2
2   345      3  akii   3

In [48]:
d.reset_index(drop=True)

   hello world new
0      1  akii   1
1      2  akii   2
2      3  akii   3

In [49]:
d

     hello world new
220      1  akii   1
aki      2  akii   2
345      3  akii   3