# Day-06

In [3]:
import pandas as pd

In [4]:
pd.read_csv("./helperFiles/services.csv")

,Service,Custodian,Delivered by,Policy area
0,Adapt a vehicle,Not known,DVLA DVSA,driving
1,Adopt a child,Not known,Courts-Tribunals-Service DfE Passport-Office l...,childcare-and-parenting
2,Apply for a passport,Not known,Passport-Office,visas-and-immigration
3,Be re-setted in the UK,Not known,Home-Office local-government,visas-and-immigration
4,Become a British citizen,Not known,Home-Office,visas-and-immigration
...,...,...,...,...
143,Use accessible parking,Not known,DfT local-government,driving
144,Visit the UK,Not known,Border-Force DCMS FCO Passport-Office,visas-and-immigration
145,Volunteer,Not known,Cabinet-Office charity-sector DWP,citizenship
146,What to do when someone has died,Not known,DoH HMRC funeralcare-industry local-government,births-deaths-marriages-and-care
147,Work abroad,Not known,FCO HMRC Home-Office,visas-and-immigration

In [5]:
df = pd.read_csv("./helperFiles/services.csv",header=None)
df

,0,1,2,3
0,Service,Custodian,Delivered by,Policy area
1,Adapt a vehicle,Not known,DVLA DVSA,driving
2,Adopt a child,Not known,Courts-Tribunals-Service DfE Passport-Office l...,childcare-and-parenting
3,Apply for a passport,Not known,Passport-Office,visas-and-immigration
4,Be re-setted in the UK,Not known,Home-Office local-government,visas-and-immigration
...,...,...,...,...
144,Use accessible parking,Not known,DfT local-government,driving
145,Visit the UK,Not known,Border-Force DCMS FCO Passport-Office,visas-and-immigration
146,Volunteer,Not known,Cabinet-Office charity-sector DWP,citizenship
147,What to do when someone has died,Not known,DoH HMRC funeralcare-industry local-government,births-deaths-marriages-and-care
148,Work abroad,Not known,FCO HMRC Home-Office,visas-and-immigration

In [6]:
df = pd.read_csv("./helperFiles/services.csv",skiprows=2)
df

,Adopt a child,Not known,Courts-Tribunals-Service DfE Passport-Office local-government,childcare-and-parenting
0,Apply for a passport,Not known,Passport-Office,visas-and-immigration
1,Be re-setted in the UK,Not known,Home-Office local-government,visas-and-immigration
2,Become a British citizen,Not known,Home-Office,visas-and-immigration
3,Become a childminder,Not known,Home-Office HMRC local-government Ofsted,childcare-and-parenting
4,Become a scrap dealer,Not known,local-government,driving
...,...,...,...,...
141,Use accessible parking,Not known,DfT local-government,driving
142,Visit the UK,Not known,Border-Force DCMS FCO Passport-Office,visas-and-immigration
143,Volunteer,Not known,Cabinet-Office charity-sector DWP,citizenship
144,What to do when someone has died,Not known,DoH HMRC funeralcare-industry local-government,births-deaths-marriages-and-care
145,Work abroad,Not known,FCO HMRC Home-Office,visas-and-immigration

In [7]:
df = pd.read_csv("./helperFiles/services.csv")
df

,Service,Custodian,Delivered by,Policy area
0,Adapt a vehicle,Not known,DVLA DVSA,driving
1,Adopt a child,Not known,Courts-Tribunals-Service DfE Passport-Office l...,childcare-and-parenting
2,Apply for a passport,Not known,Passport-Office,visas-and-immigration
3,Be re-setted in the UK,Not known,Home-Office local-government,visas-and-immigration
4,Become a British citizen,Not known,Home-Office,visas-and-immigration
...,...,...,...,...
143,Use accessible parking,Not known,DfT local-government,driving
144,Visit the UK,Not known,Border-Force DCMS FCO Passport-Office,visas-and-immigration
145,Volunteer,Not known,Cabinet-Office charity-sector DWP,citizenship
146,What to do when someone has died,Not known,DoH HMRC funeralcare-industry local-government,births-deaths-marriages-and-care
147,Work abroad,Not known,FCO HMRC Home-Office,visas-and-immigration

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df['Service']

0                       Adapt a vehicle
1                         Adopt a child
2                  Apply for a passport
3                Be re-setted in the UK
4              Become a British citizen
                     ...
143              Use accessible parking
144                        Visit the UK
145                           Volunteer
146    What to do when someone has died
147                         Work abroad
Name: Service, Length: 148, dtype: object

In [10]:
type(df['Service'])

pandas.core.series.Series

In [11]:
l = [1,2,3,4]
s = pd.Series(l)
s, type(s)

(0    1
 1    2
 2    3
 3    4
 dtype: int64,
 pandas.core.series.Series)

In [12]:
d = pd.Series([100,1000,10000,100000], index=["Hundred","Thousand","Ten thousand","Lakh"])
d

Hundred            100
Thousand          1000
Ten thousand     10000
Lakh            100000
dtype: int64

In [13]:
d['thousand'] = '1k'
d

Hundred            100
Thousand          1000
Ten thousand     10000
Lakh            100000
thousand            1k
dtype: object

In [14]:
d.reset_index(drop=True, inplace=True)

In [15]:
d[0:2]

0     100
1    1000
dtype: object

In [16]:
df = pd.read_csv("./helperFiles/services.csv")

In [17]:
df.shape

(148, 4)

In [18]:
list(df.columns)

['Service', 'Custodian', 'Delivered by', 'Policy area']

In [19]:
df.head()

,Service,Custodian,Delivered by,Policy area
0,Adapt a vehicle,Not known,DVLA DVSA,driving
1,Adopt a child,Not known,Courts-Tribunals-Service DfE Passport-Office l...,childcare-and-parenting
2,Apply for a passport,Not known,Passport-Office,visas-and-immigration
3,Be re-setted in the UK,Not known,Home-Office local-government,visas-and-immigration
4,Become a British citizen,Not known,Home-Office,visas-and-immigration

In [20]:
df.tail()

,Service,Custodian,Delivered by,Policy area
143,Use accessible parking,Not known,DfT local-government,driving
144,Visit the UK,Not known,Border-Force DCMS FCO Passport-Office,visas-and-immigration
145,Volunteer,Not known,Cabinet-Office charity-sector DWP,citizenship
146,What to do when someone has died,Not known,DoH HMRC funeralcare-industry local-government,births-deaths-marriages-and-care
147,Work abroad,Not known,FCO HMRC Home-Office,visas-and-immigration

In [21]:
df.head(20)

,Service,Custodian,Delivered by,Policy area
0,Adapt a vehicle,Not known,DVLA DVSA,driving
1,Adopt a child,Not known,Courts-Tribunals-Service DfE Passport-Office l...,childcare-and-parenting
2,Apply for a passport,Not known,Passport-Office,visas-and-immigration
3,Be re-setted in the UK,Not known,Home-Office local-government,visas-and-immigration
4,Become a British citizen,Not known,Home-Office,visas-and-immigration
5,Become a childminder,Not known,Home-Office HMRC local-government Ofsted,childcare-and-parenting
6,Become a scrap dealer,Not known,local-government,driving
7,Breed dogs,Not known,local-government RSPCA Veterinary-Medicines-Di...,business
8,Bring a pet to the UK,Not known,Animal-and-Plant-Health-Agency Border-Force HM...,visas-and-immigration
9,Bring freight in to and out of the UK,Not known,Home-Office,import-and-export
10,Build a car,Not known,DVLA DVSA,driving
11,Build at sea,Not known,Environment-Agency Marine-Management-Organisation,environment-and-countryside
12,Buy a business with vehicles,Not known,DVLA DVSA HMRC,driving
13,Buy a house,Not known,estate-agent-industry Land-Registry local-gove...,housing
14,Buy a personalised registration,Not known,DVLA,driving
15,Buy a vehicle,Not known,DVLA insurance-industry local-government,driving
16,Buy land,Not known,HMRC Land-Registry,housing
17,Buy shares,Not known,Companies-House HMRC,business
18,Care for someone,Not known,DWP DoH local-government Office-Public-Guardian,births-deaths-marriages-and-care
19,Change gender,Not known,Courts-Tribunals-Service DVLA Passport-Office,births-deaths-marriages-and-care

In [22]:
df.tail(10)

,Service,Custodian,Delivered by,Policy area
138,Transport goods,Not known,DVLA DVSA HMRC,driving
139,Transport passengers,Not known,DVLA DVSA,driving
140,Travel to other countries,Not known,Border-Force FCO Passport-Office,visas-and-immigration
141,Update driving licence,Not known,DVLA,driving
142,Use a crane,Not known,local-government,housing
143,Use accessible parking,Not known,DfT local-government,driving
144,Visit the UK,Not known,Border-Force DCMS FCO Passport-Office,visas-and-immigration
145,Volunteer,Not known,Cabinet-Office charity-sector DWP,citizenship
146,What to do when someone has died,Not known,DoH HMRC funeralcare-industry local-government,births-deaths-marriages-and-care
147,Work abroad,Not known,FCO HMRC Home-Office,visas-and-immigration

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Service       148 non-null    object
 1   Custodian     148 non-null    object
 2   Delivered by  148 non-null    object
 3   Policy area   148 non-null    object
dtypes: object(4)
memory usage: 4.8+ KB

In [24]:
df.describe()

                Service  Custodian Delivered by Policy area
count               148        148          148         148
unique              148          6           96          16
top     Adapt a vehicle  Not known         DVLA     driving
freq                  1        143           12          44

In [25]:
s = pd.Series([1,2,3],index=[220,"aki",345])
s

220    1
aki    2
345    3
dtype: int64

In [26]:
d = pd.DataFrame(s,columns=['name'])

In [27]:
d

     name
220     1
aki     2
345     3

In [28]:
d['new-column'] = 'akii'

In [29]:
d

     name new-column
220     1       akii
aki     2       akii
345     3       akii

In [30]:
d['new-column-2'] = ['1',2,3]
d

     name new-column new-column-2
220     1       akii            1
aki     2       akii            2
345     3       akii            3

In [31]:
d.columns

Index(['name', 'new-column', 'new-column-2'], dtype='object')

In [32]:
d.columns = ['hello', 'world', 'new']

In [33]:
d.reset_index()

  index  hello world new
0   220      1  akii   1
1   aki      2  akii   2
2   345      3  akii   3

In [34]:
d.reset_index(drop=True)

   hello world new
0      1  akii   1
1      2  akii   2
2      3  akii   3

In [35]:
d

     hello world new
220      1  akii   1
aki      2  akii   2
345      3  akii   3

# Day 07

In [55]:
df1 = pd.read_excel("./helperFiles/sample.xls",engine="xlrd")

ImportError: Pandas requires version '2.0.1' or newer of 'xlrd' (version '1.2.0' currently installed).

In [ ]:
df1 = pd.read_html("https://www.basketball-reference.com/leagues/NBA_2015_totals.html")

In [52]:
df[1].head()

,Rk,Player,Age,Team,Pos,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Trp-Dbl,Awards
0,1.0,LeBron James,30.0,CLE,SF,20.0,20.0,844.0,227.0,544.0,...,189.0,226.0,169.0,33.0,21.0,82.0,58.0,601.0,3.0,NaN
1,2.0,Stephen Curry,26.0,GSW,PG,21.0,21.0,826.0,200.0,439.0,...,85.0,105.0,134.0,39.0,3.0,82.0,47.0,594.0,0.0,NaN
2,3.0,James Harden,25.0,HOU,SG,17.0,17.0,636.0,129.0,294.0,...,85.0,97.0,128.0,28.0,7.0,77.0,49.0,462.0,1.0,NaN
3,4.0,Klay Thompson,24.0,GSW,SG,21.0,21.0,761.0,149.0,334.0,...,72.0,81.0,54.0,16.0,19.0,41.0,64.0,391.0,0.0,NaN
4,5.0,Blake Griffin,25.0,LAC,PF,14.0,14.0,557.0,140.0,274.0,...,140.0,178.0,86.0,14.0,14.0,45.0,43.0,357.0,3.0,NaN

In [51]:
df1[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 652 entries, 0 to 651
Data columns (total 32 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rk       651 non-null    float64
 1   Player   652 non-null    object
 2   Age      651 non-null    float64
 3   Team     651 non-null    object
 4   Pos      651 non-null    object
 5   G        651 non-null    float64
 6   GS       651 non-null    float64
 7   MP       651 non-null    float64
 8   FG       651 non-null    float64
 9   FGA      651 non-null    float64
 10  FG%      650 non-null    float64
 11  3P       651 non-null    float64
 12  3PA      651 non-null    float64
 13  3P%      571 non-null    float64
 14  2P       651 non-null    float64
 15  2PA      651 non-null    float64
 16  2P%      648 non-null    float64
 17  eFG%     650 non-null    float64
 18  FT       651 non-null    float64
 19  FTA      651 non-null    float64
 20  FT%      627 non-null    float64
 21  ORB      651 non-null    float64
 22  DRB      651 non-null    float64
 23  TRB      651 non-null    float64
 24  AST      651 non-null    float64
 25  STL      651 non-null    float64
 26  BLK      651 non-null    float64
 27  TOV      651 non-null    float64
 28  PF       651 non-null    float64
 29  PTS      651 non-null    float64
 30  Trp-Dbl  651 non-null    float64
 31  Awards   60 non-null     object
dtypes: float64(28), object(4)
memory usage: 163.1+ KB

In [53]:
df1[0].describe()

,Rk,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Trp-Dbl
count,651.000000,651.000000,651.000000,651.000000,651.000000,651.000000,651.000000,650.000000,651.000000,651.000000,...,651.000000,651.000000,651.000000,651.000000,651.000000,651.000000,651.000000,651.000000,651.000000,651.000000
mean,250.897081,26.500768,45.960061,21.099846,1041.775730,160.778802,359.763441,0.427437,33.917051,97.419355,...,46.414747,137.298003,183.712750,95.960061,33.367127,20.072197,59.511521,87.199693,428.067588,0.082949
std,139.168056,4.110914,25.503151,25.932412,806.253103,148.971531,322.834979,0.100211,44.168306,118.003315,...,56.505820,130.956177,181.471919,116.919926,31.720880,29.058392,55.845731,64.768084,401.564362,0.578487
min,1.000000,19.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,131.500000,23.000000,24.000000,0.000000,272.000000,33.500000,80.500000,0.389250,1.000000,5.000000,...,8.000000,31.000000,40.000000,15.000000,8.000000,2.000000,13.500000,26.000000,90.000000,0.000000
50%,252.000000,26.000000,48.000000,9.000000,896.000000,120.000000,285.000000,0.426500,13.000000,43.000000,...,27.000000,106.000000,138.000000,57.000000,26.000000,10.000000,46.000000,77.000000,308.000000,0.000000
75%,374.500000,29.000000,70.000000,35.000000,1674.000000,251.000000,535.500000,0.472000,55.000000,165.000000,...,61.500000,196.500000,262.000000,132.500000,48.000000,23.000000,90.500000,137.000000,658.000000,0.000000
max,492.000000,38.000000,83.000000,82.000000,2981.000000,659.000000,1471.000000,1.000000,286.000000,646.000000,...,437.000000,829.000000,1226.000000,838.000000,163.000000,200.000000,321.000000,285.000000,2217.000000,11.000000

In [56]:
df1[0].dtypes[df1[0].dtypes == 'object'].index

Index(['Player', 'Team', 'Pos', 'Awards'], dtype='object')

# Day 08

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("./helperFiles/Titanic.csv")

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,AgeGroup
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Adult
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Adult
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Adult
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Adult
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Adult

In [7]:
df['Fare'].mean()

np.float64(32.204207968574636)

In [8]:
df[df['Survived'] == 1].count()

PassengerId    342
Survived       342
Pclass         342
Name           342
Sex            342
Age            290
SibSp          342
Parch          342
Ticket         342
Fare           342
Cabin          136
Embarked       340
AgeGroup       342
dtype: int64

In [9]:
import requests

ConnectionError: HTTPSConnectionPool(host='www.basket-ball-reference', port=443): Max retries exceeded with url: / (Caused by NameResolutionError("<urllib3.connection.HTTPSConnection object at 0x000002439E788050>: Failed to resolve 'www.basket-ball-reference' ([Errno 11001] getaddrinfo failed)"))